.card-list {
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: antiquewhite;
}
.text-Overflow {
  text-align: start;
  white-space: nowrap;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-detail {
  margin: 10px 0px 10px 0px;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  text-align: center;
}

.card-detail:hover {
  cursor: pointer;
  background-color: #f0caca;
  box-shadow: 1px 1px 1px 10px rgb(209, 138, 138) 8;
  scale: 1.05;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
