<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
      <div class="col-2">
        <label class="fs-18 text-center">หน้าหลัก</label>
      </div>
      <div class="col-10">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="ค้นหาสินค้าของคุณเลย!"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
            [(ngModel)]="textSearch"
          />
          <button
            class="btn btn-danger"
            type="button"
            id="button-addon2"
            (click)="search()"
          >
            ค้นหา
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <label style="font-size: 20px">หน้าหลัก</label>
    <hr />
    <div class="row">
      <!-- <ng-container *ngIf="!loading">
        <div class="col-12">
          <img
            class="loading"
            src="assets\img\Ellipsis-1s-200px (1).gif"
            alt=""
          />
        </div>
      </ng-container> -->

      <ng-container *ngFor="let list of listAll; let i = index">
        <div class="col-3">
          <div class="card card-detail" (click)="chooseProduct(list.id)">
            <div class="col-12">
              <img [src]="list.image" alt="" width="150" height="100" />
            </div>
            <div class="col-12 text-Overflow ml-20 mt-20 text-red">
              {{ list.title }}
            </div>
            <div class="col-12 text-Overflow ml-20">
              {{ list.description }}
            </div>
            <div class="col-12 text-Overflow ml-20">
              {{ list.price }}
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
