    <!-- <div class="float-right d-none d-sm-block"><b>Version</b></div> -->
    <!-- <strong>
      <span>Copyright &copy;</span>

      <span>.</span>
    </strong> -->
    <span> All rights reserved.</span>
