<div class="container">
  <ng-container *ngFor="let item of datas">
    <div class="row mb-20">
      <div class="col-12">
        <label
          class="fs-14 cs-p"
          style="color: green"
          [routerLink]="['/dashboard']"
          >รายละเอียดสินค้า
        </label>
        <label class="fs-14 ml-10"> > </label>
        <label class="fs-16 ml-10"> {{ item.title }} </label>
      </div>
    </div>

    <div class="card card-detail">
      <div class="row">
        <div class="col-md-6 col-sm-12 text-center p-20">
          <img
            [src]="item.image"
            class="zoomImg"
            alt=""
            width="350"
            height="400"
          />
        </div>
        <div class="col-md-6 col-sm-12 mt-40">
          <div class="row">
            <div class="col-12">
              <label class="fs-22">
                {{ item.title }}
              </label>
            </div>
            <div class="col-12 mt-20">
              <label class="fs-18">
                {{ item.description }}
              </label>
            </div>
            <div class="col-12">
              <div class="card card-price">
                <label class="text-price">ราคา {{ item.price }} บาท </label>
              </div>
            </div>
            <hr />
            <div class="col-12">
              <div class="row">
                <div class="col-6 text-end">
                  <button
                    type="button"
                    class="btn btn-secondary"
                  >
                    <i class="bi bi-plus-circle"></i>
                    เพิ่มลงรถเข็น
                  </button>
                </div>
                <div class="col-6">
                  <button
                    type="button"
                    class="btn btn-success"
                  >
                    <i class="bi bi-bag"></i>
                    สั่งซื้อ
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
