.card-detail {
  margin: 50px 0px 10px 0px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-color: whitesmoke;
  box-shadow: 0px 5px 10px grey;
  padding: 25px;
}
.zoomImg {
  margin-top: 30px;
  height: 400px;
  width: 80%;
  border-radius: 20px;
  object-fit: cover;
}
.zoomImg:hover {
  cursor: zoom-in;
  transform: scale(1.2);
  transition: transform 220ms;
  box-shadow: 0px 5px 10px rgb(207, 212, 200);
}
.text-price {
  font-size: 20px;
  font-weight: bold;
  color: rgb(252, 26, 26);
}
.card-price {
  border-radius: 5px;
  height: 50px;
  padding: 10px;
  margin: 13px;
}
