<!-- Toolbar -->

<div class="row">
  <div class="toolbar" role="banner" style="padding: 0px 90px 0px 90px">
    <div class="col-lg-4 col-md-3 col-sm-1" style="text-align: center">
      <img
        width="53px"
        src="assets\img\images.png "
        routerLink="/"
        style="cursor: pointer; border-radius: 100%"
      />
      <span routerLink="/" style="cursor: pointer"
        >SMART <label style="color: rgb(75, 50, 50)">SHOP</label>
      </span>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-1"></div>

    <!-- <div class="col-lg-10 col-md-12 col-sm-12">
          <div class="row">
            <ng-container *ngFor="let listType of category">
              <div class="col-lg-2 col-md-2 col-sm-2">
                <span style="color: rgb(241, 241, 241); font-size: 14px">{{
                  listType
                }}</span>
              </div>
            </ng-container>
          </div>
        </div> -->

    <div class="col-lg-2 col-md-1 col-sm-12">
      <div class="row">
        <div class="col-6 text-end">
          <i class="bi bi-cart4 icon-basket" routerLink="basket"></i>
        </div>
        <div class="col-6 text-start">
          <i class="bi bi-geo-alt icon-basket" routerLink="profile"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6">
      <img
        src="assets\img\wifi.gif"
        alt="online"
        width="43"
        style="border-radius: 100%"
      />

      <span style="color: rgb(255, 255, 255)">{{ time }}</span>
    </div>
  </div>
</div>
