.spacer {
  flex: 1;
}

.toolbar {
  z-index: 9999;
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
  display: flex;
  align-items: center;
  background: linear-gradient(
    164deg,
    rgba(235, 107, 73, 1) 18%,
    rgba(244, 43, 43, 1) 100%
  );
  /* background: linear-gradient(
    164deg,
    rgb(97, 214, 89) 18%,
    rgb(41, 158, 28) 100%
  ); */
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 8px;
}

.toolbar #youtube-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover,
.toolbar #youtube-logo:hover {
  opacity: 0.8;
}
.card-basket {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  color: rgba(1, 31, 58, 1);
}
.unitText {
  position: absolute;
  top: -4px;
  right: -5px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 13px;
  background-color: red;
  color: #ffffff;
}
.icon-basket {
  text-align: center;
  position: relative;
  font-size: 27px;
  color: #fff;
  padding: 20px;
  cursor: pointer;
}
.icon-basket:hover {
  padding: 25px;

  color: rgb(41, 43, 41);
  opacity: 0.8;
}
.unit-basket {
  position: absolute;
  background-color: red;
  font-size: 12px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  text-align: center;
  top: 35%;
  right: 20%;
  box-shadow: 1px 1px 6px #df8d8d;
}
